 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 // variables
 $radius:160px;

 body {
     background-color: #262626;
     color: white;
     font-family: 'Montserrat', sans-serif;
 }

 #score {
     position: fixed;
     top: 0;
     left: 0;
     color: #262626;
     background: #fff;
     padding: 10px;
     border-radius: 5px;
     z-index: 10;
     margin: 5px;
     text-transform: uppercase;

 }

 .container {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     width: 100%;
     height: 100%;
     position: fixed;
     top: 0;
     left: 0;
     background: #262626;
     transition: 100ms;
     user-select: none;



     #btn {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: $radius;
         height: $radius;
         border-radius: 50%;
         color: #fff;
         cursor: pointer;
         background: #141E30;

         background: -webkit-linear-gradient(to right, #243B55, #141E30);

         padding: 5px;
         border: 10px solid #7fe5f0;
         outline: none;

         &:active {
             transform: scale(.9);
         }

         .main {
             font-size: x-large;
             font-family: 'Raleway', sans-serif;
         }

         .description {
             font-size: small;
         }
     }
 }

 footer {
     position: fixed;
     left: 5px;
     bottom: 10px;
 }